services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    restart: no

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # 這裡設定了兩組監聽：一組給內部(kafka:29092)，一組給Mac(localhost:9092)，一組給K8s docker-docker(localhost:9092) 
      # [✨ 修改點 1: 移除 KEDA 的自訂 Listener 名稱]
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      
      # [✨ 新增！告訴 Kafka 容器內部，這兩個 Listener 綁定的 IP/Port]
      # PLAINTEXT 用內部 IP/Port，PLAINTEXT_HOST 用公開 IP/Port
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      
      # [✨ 修改點 2: 讓 KEDA 透過 host.docker.internal 連線]
      # 這裡的 host.docker.internal 是給 K8s/KEDA 用的
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://host.docker.internal:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    restart: no